@charset "utf-8";
/* CSS Document */

body {
	background-color: #575757;
	font-family: ariel, sans-serif;
}

div#parent {
	background-color: #fff;
	width: 780px;
	border: 1px solid #000;	
	margin: 0 auto;
	min-height: 500px;
}

div#parent div#header {
	height: 82px;
	background: transparent url('files/historyHeader.gif') center center no-repeat;
}

div#parent div#subHeader {
	height: 75px;
	border-bottom: 6px solid #60663e;
}

div#content {
	background-color:#c4c4c4;
	padding: 0 0 10px 0;
}

div#content div#side {
	min-height: 600px;
	width: 259px;
	background-color:#c4c4c4;
	float: left;
	border-right: 1px solid #60663e;
}

div#content div#side ul {
	list-style: none;
	margin: 0;	
	padding: 0;
	width: 240px;
}

div#content div#side ul li {
	border-bottom: 1px solid black;	
	margin-left: 20px;
}

div#content div#side ul li:first-child {
	padding-top: 20px;
}

div#content div#side ul li a {
	display: block;
	text-transform: uppercase;
	font-size: 10px;
	color: #000;
	text-decoration: none;
	padding: 8px 0 8px 8px;;
}

div#content div#side img {
	display: block;
	margin: auto;
}

div#content div#main {
	min-height: 500px;
	background-color: #fff;
	float: left;
	min-width: 520px;
}

div#main div#topNav {
	text-transform: uppercase;
	text-align: right;	
	font-size: 10px;
	padding: 5px 20px 0 0;
}

div#main div#topNav a {
	color: #000;
	text-decoration: none;
}

div#main div#topNav a:hover {
	text-decoration: underline;
}

div#main div#botNav {
	text-align: right;
	font-size: 10px;
	margin: 0 20px 10px 0;
}

div#main div#botNav a {
	color: #000;
	text-decoration: none;
	text-transform: lowercase;
}

div#main div#botNav a:hover {
	text-decoration: underline;
}

div#footer{
	clear: both;
	background-color: #60663e;
	color: #fff;
	font-size: 10px;
	text-align: center;
	padding: 10px 0;
}