@charset "utf-8";
/* CSS Document */

body {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: Helvetica;	
}

div#wrapper {
	text-align: center;
	margin: 0 auto;
	padding: 0px;
	width: 640px;
	-webkit-border-radius: 10px;
      -moz-border-radius: 10px;
           border-radius: 10px;	
	background-color: #bcc6cc;
	box-shadow: 10px 10px 10px #bbb6bb;
}

div#wrapper h1 {
	padding: 5px 0 0 0;
}

div#wrapper div#player {
	width: 630px;
	height: 410px;
	margin: 0 auto;
} 

div#player div.videoLeft {
	float: left;
	width: 320px;
	background-color: #fff;
	margin: 0 0 5px 10px;
	min-height: 400px;	
}

div#player div.videoRight {
	float: right;
	background-color: #1f3fa4;
	width: 290px;
	margin: 0 10px 5px 0;
	min-height: 400px;
	overflow: auto;
	height: 380px;
	color: #fff;
}

#playlist a {
   background:#1f3fa4;
   padding:10px;
   display:block;
}

#playlist img {
	width: 250px;
}

#playlist a:active, #playlist a:focus, #playlist a:hover {
   background:#bcc6cc;
}

#playlist a.highlight {
	background: #bcc6cc;
}

#progress {
	width: 100%;
	margin-bottom: 5px;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #1f3fa4, #74bbfb);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

.videoControls {
	background-color: #74bbfb;
	padding: 5px 0;
}

#playPauseBtn:hover, 
.rewind:hover,
.fastforward:hover, 
.stop:hover, 
.mute:hover, 
.full-screen:hover {
	background-color: #1f3fa4;
	color: #bcc6cc;	
}